* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
}

ul {
    
    list-style: none;
}

li {
    display: inline;
    padding: 0 10px;
    text-decoration: underline;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px seashell;
}

header img, ul {
    margin: 0 10px;
}

.logo {
    height: 50px;
}

.mission {
    height: 700px;
    width: 1200px;
    background-image: url(./images/img-mission-background.webp);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-statement {
    background-color: black;
    width: 100%;
}

.mission-statement h2, h4 {
    margin: 10px;
}